<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

{% extends "App2/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
	<h1 id="header">Register</h1>
	<br/><br/>
	<form action='' method="POST" class="frm">
		{% csrf_token %}
		{{ register_form|crispy }}
		{{ Student.as_p }}
		<br/><br/>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}

</body>
</html>


