<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends "App2/header.html" %}

{% block content %}

    {% if query %}
        <h1 id="header">Search Results:</h1>
        <br/>
        {% for event in events %}

             <div class="card">
                 <h5 class="card-header">
                     {{ event }}
                 </h5>
                 <div class="card-body">
                     <h5 class="card-title">Club: {{ event.event_club }}</h5>
                     <p class="card-text"></p>
                     <ul>
                         <li>Event Overseer: {{ event.overseer }}</li>
                         <li>Venue: {{ event.venue }}</li>
                         <li>Date: {{ event.event_date }}</li>
                         <li>Description: {{ event.description }}</li>
                         <li>Attendees:<br/>
                             {% for user in event.attendees.all %}

                             {{ user }}<br/>
                         </li>

                         {% endfor %}
                     </ul>

                 </div>
                 <div class="card-footer text-muted">
                     <a href="/updateevents/{{ event.id }}" class="btn btn-outline-secondary">Edit Event Details</a>
                     <a href="/deleteevent/{{ event.id }}" class="btn btn-outline-danger">Delete</a>
                 </div>
             </div>
            <br/>

        {% endfor %}

    {% else %}
        <h1 id="header">Invalid Input.</h1>
        <br/><br/>
        <p class="text"><a href="/events">Return to Events</a>
    {% endif %}
{% endblock %}
</body>
</html>