body{
background-color: black !important;
}

#header{
color: white; !important
}

#head{
color: white; !important
}

#first{
color: white; !important
}

#second{
color: white; !important
}

#test{
color: white; !important
}

#A{
color: white; !important
}

#B{
color: white; !important
}

#C{
color: white; !important
}

#D{
color: white; !important
}

#E{
color: white; !important
}

#F{
color: white; !important
}

.text-center{
color: white; !important
}

.text{
color: white; !important
}

#cal{
color: white; !important
}

.frm{
color: white; !important
}
